*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', 'sans-serif';

}

body{
    background-image: url(MiniApps/Imagenes/fondo-porfolio1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    background: rgb(48, 60, 73);
}

main{
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}


nav{
    padding: 10px;
    padding-inline: 40px;
    line-height: 110px;
}



.nav .logo{
    height: 100px;
}


.nav .logo img{
    height: 100%;
    width: 100%;
    vertical-align: top;
}


.contenedor{
    width: 100%;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}


.enlaces-header{
    width: 79%;
    text-align: right;
    margin-right: 15px;
}

.enlaces-header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 2px;
    border-right: 2px solid rgba(221, 173, 52, 0.913);
    padding-right: 4px;
}


.enlaces-header a:hover{
    text-decoration: none;
    color: rgb(221, 173, 52, 0.913);
    margin-right: 2px;
    border-right: 2px solid rgb(124, 124, 124, .3);
    padding-right: 4px;
}





/* Contenido principal */

.principal{
    height: 690px;
    background: rgba(221, 173, 52, 0.913);
    
}


.introduccion{
    padding: 20px;
    text-align: center;
    align-content: center;
    
}


.introduccion h1{
    margin-bottom: 20px;
    font-weight: 800;
}


.introduccion p{
    width: 60%;
    margin: 0 auto;
    color: white;
    font-weight: 200;
}



/* Postal */

.contenedor-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-block: 5rem;
}


.postal img{
    height: 600px;
    width: 100%;
}


.contenido-postal{
    background: white;
    width: 90%;
    border-radius: 3%;
    box-shadow: 0px 8px 30px rgba(127, 127, 127, 0.559);

}


.contenido-postal:hover{
    box-shadow: 0px 8px 30px rgba(39, 53, 67, 0.559);
}



.contenido-postal h1{
    padding-top: 1rem;
    padding-inline: 2rem;
    
}


.contenido-postal p{
    padding-inline: 2rem;
    padding-bottom: 1rem;

    
}


.descripcion-postal{
    padding: 1rem;
    text-align: start;
    align-content: center;
}




