*{
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto'
                                ,'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 300;
}


header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background: rgba(239, 138, 138, 0.765);
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    align-content: center;
    justify-content: right;
    padding-right: 2rem;
}

.contenedor a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    font-weight: 800;
}

.contenedor a:hover{
    text-decoration: none;
    color: rgb(56, 56, 56);
}



body{
    background: linear-gradient(to right, lightcoral, lightyellow);
    margin: 0;
    padding: 0;
}


.calculadora{
    
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}




.calculadora > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(236, 236, 236, 0.548);
}



.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.584);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}


.output .display{
    color: black;
    font-size: 1.85rem;
    text-align: right;

}

.calculadora > button:hover{
    background-color: rgba(255, 74, 3, 0.363);
}